<header [ngClass]="{'transparent': isTransparent, 'black': !isTransparent}" fxLayout="column" fxLayout="row"
  fxLayoutAlign="center center" fxLayoutGap="20px">
  <a href="#exp">Experience</a>
  <a href="#explore">Explore</a>
  <a href="#restaurant">Restaurant</a>
  <div class="logo" fxLayoutAlign="center center" routerLink="/">
    <img src="assets/imgs/taco-mundo-wordmark.png" alt="">
  </div>
  <a href="#about">About us</a>
  <a href="#contact-us">Contact us</a>
  <div class="menu-container" *ngIf="isRegularUser" >
    <div class="username" (click)="toggleMenu()">{{userEmailHeader}}</div>
    <div class="menu" *ngIf="showMenu" >
      <a routerLink="/book">Book</a>
       <a routerLink="/order">Place your order</a>
      <a (click)="logOut()" routerLink="/login">Log Out</a>
    </div>
  </div>

  <a *ngIf="!isRegularUser" routerLink="/login">Login</a>
</header>
