<div class="container-main">
    <div class="title-container">
        <h1>Taco Mundo | Aguascalientes, Ags | Mexico </h1>
        <h3>Discover the Flavors of Taco Mundo and Experience a Taste of Mexico</h3>
        <div class="star-container">
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
        </div>
    </div>    
</div>

<app-section-mission></app-section-mission>
<app-meet-our-team id="about"></app-meet-our-team>
<app-menu-container id="restaurant"></app-menu-container>
<app-explore id="exp"></app-explore>
<app-section-satisfy id="explore"></app-section-satisfy>
<app-form-book id="contact-us"></app-form-book>