<div class="container-main">
    <div class="title-container">
        <h1>Taco Mundo | Aguascalientes, Ags | Mexico </h1>
        <h3>Discover the Flavors of Taco Mundo and Experience a Taste of Mexico</h3>
        <div class="star-container">
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
        </div>
    </div>    
</div>
<app-menu-container></app-menu-container>