
<div class="container">
    <div class="title-home">
        <h1>TacoMundo</h1>
        <h2><span>DELIGHT YOUR TASTEBUDS</span></h2>
        <p>
            Treat yourself to a world-class dining experience at TacoMundo, our premier restaurant  <br> known for  exceptional
            flavors and culinary mastery. <br> Whether you crave gourmet cuisine or casual Mexican  <br> fare, we offer a wide range
            of tantalizing options to satisfy your every craving.
            <br> <br>
            With TacoMundo, booking a table is effortless. Our dedicated team ensures your reservation is secured and your
            dining experience exceeds expectations. Indulge in finest culinary delights, crafted with passion and served
            with attention to detail.
            <br> <br>
            Don't settle for mediocre meals - elevate your dining experience with TacoMundo.
        </p>
    </div>
    <div class="image-container">
        <img class="img-1" src="assets/imgs/tacos/tacos3.jpeg">
    </div>
</div>